body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  margin: 0;
}

p {
  font-size: 1.2em;
  margin: 0;
}

#game-container {
  width: 100vw;
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#game-canvas {
  display: block;
}
